target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
iac/.terraform/*
iac/.terraform.lock.hcl
iac/terraform.tfstate
iac/*.tfstate
iac/*.tfstate.*
iac/*.tfstate.backup
iac/*.tfplan
iac/override.tf
iac/override.tf.json
iac/crash.log
iac/*.tfvars
iac/lambda/py*
response.json
iac/errored.tfstate
iac/lambda_function.zip